.early_birds {
  padding: 100px $main_padding $main_padding $main_padding;
  background-image: url(assets/background.svg);
  background-size: cover;
  background-position: center;

  border-radius: 0;
}
