.first_launch {
  padding: $big_padding $main_padding;
  position: relative;
  overflow: hidden;

  .text_about {
    margin-right: 30%;
    p {
      @include main_paragraph();
    }

    & p:first-child {
      font-weight: 800;
      @include pink_paragraph();
    }
  }

  img {
    height: 25rem;
    position: absolute;
    top: 0.3125rem;
    right: -11.25rem;
  }

  @media (min-width: 620px) {
    .text_about {
      margin-right: 40%;
    }
    img {
      top: 50px;
      right: -10px;
    }
  }
}
