footer {
  display: grid;
  grid-template-rows: auto auto;
  gap: 3.125rem;
  padding: $main_padding;
  .socials {
    img {
      padding-bottom: 0.625rem;
    }
    p {
      padding-bottom: 0.625rem;
      color: $grey_color;
    }
    i {
      color: $grey_color;
      padding-right: 0.3125rem;
    }
  }
  .links {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 1.875rem;
    .links_text p:first-child {
      font-weight: 600;
      padding-bottom: 1.125rem;
    }
  }

  & > p {
    padding-bottom: $main_padding;
  }
}
