header {
  display: flex;
  padding: $main_padding;
  justify-content: space-between;
  align-items: center;
  i {
    color: $grey_color;
  }
  .navigation {
    display: none;
  }
}

@media (min-width: 620px) {
  header {
    .burger {
      display: none;
    }
    .navigation {
      display: block;
      a {
        color: $grey_color;
        padding-left: 4px;
      }

      a:last-child {
        color: $pink_color;
      }
    }
  }
}
