.logos {
  gap: 1.25rem;
  padding: $main_padding;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-items: center;
  justify-content: center;
  img {
    width: 9.375rem;
  }
}
