.NFT_list {
  padding: $main_padding;
  padding-bottom: 6.25rem;
  border-bottom: 1px solid $grey_color;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: hidden;
  width: 100%;
  gap: 10px;

  .NFT_card {
    width: 21.875rem;
    display: grid;
    grid-template-rows: auto auto;
    img {
      width: 21.875rem;
    }
    .card_text {
      border-bottom-right-radius: 1.25rem;
      border-bottom-left-radius: 1.25rem;
      padding: $spacing_padding;
      background-color: $grey_color;
      display: grid;
      grid-template-columns: auto auto;

      .text_right {
        p {
          text-align: right;
        }
        justify-self: flex-end;
        p:not(:last-child) {
          padding-bottom: 0.625rem;
        }
        p:nth-child(2) {
          font-size: 1.5625rem;
          font-weight: 500;
        }
        p:first-child {
          font-size: 0.8125rem;
        }

        .price {
          display: flex;
          gap: 0.625rem;
          img {
            width: 1.125rem;
          }
        }
      }

      .text_left {
        p:first-child {
          padding-bottom: 0.625rem;
        }
        p:nth-child(2) {
          font-size: 1.5625rem;
          font-weight: 500;
        }
        p:first-child {
          font-size: 0.8125rem;
          color: rgb(255, 145, 0);
        }
      }
    }
  }
}
