.second_launch {
  border-bottom: 1px solid $grey_color;
  padding: $big_padding $main_padding;
  position: relative;
  overflow: hidden;
  .text_about {
    margin-right: 40%;
    p {
      @include main_paragraph();
    }

    & p:first-child {
      font-weight: 800;
      @include pink_paragraph();
    }
  }

  img {
    height: 400px;
    position: absolute;
    right: -20px;
    bottom: 0;
  }
}
