$grey_color: rgb(182, 182, 182);
$pink_color: rgb(235, 45, 108);
$main_padding: 1.875rem;
$spacing_padding: 1.25rem;
$big_padding: 4.375rem;
$p_font_size: 1.125rem;
$h_font_size: 2.5rem;

@media (min-width: 620px) {
  h1 {
    font-size: 70px;
  }
}
