@import 'variables';

h1 {
  font-size: $h_font_size;
  padding-bottom: $spacing_padding;
  font-weight: 800;
}

h2 {
  font-size: $h_font_size;
  padding-bottom: $spacing_padding;
  font-weight: 600;
}

@mixin main_paragraph() {
  color: $grey_color;
  font-size: $p_font_size;
  padding-bottom: $spacing_padding;
  font-weight: 400;
  line-height: 25px;
}

@mixin pink_paragraph() {
  color: $pink_color;
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

button {
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  position: relative;
  border-radius: 30px;
  background: rgb(249, 75, 124);
  background: linear-gradient(
    90deg,
    rgba(249, 75, 124, 1) 0%,
    rgba(255, 127, 62, 1) 50%,
    rgba(201, 187, 114, 1) 100%
  );
  z-index: -2;
}

button::before {
  content: '';
  border-radius: 30px;
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  background-color: white;
  z-index: -1;
}

button::after {
  font-size: $p_font_size;
  color: black;
  content: 'Sign up';
  font-weight: 800;
}

header {
  display: flex;
  padding: $main_padding;
  justify-content: space-between;
  align-items: center;
  i {
    color: $grey_color;
  }
}

@import 'first_launch';
@import 'early_birds';
@import 'logos';
@import 'super_rare_auction';
@import 'NFT_list';
@import 'second_launch';
@import 'footer';
